<a href="https://colab.research.google.com/github/DaiVo20/Stock-Price-Prediction/blob/main/ARIMA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [39]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from statsmodels.tsa.arima_model import ARIMA
from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn.model_selection import train_test_split
%matplotlib inline

In [5]:
dataset=pd.read_csv("/content/stock_data.csv")

In [6]:
dataset['Date'] = pd.to_datetime(dataset['Date'])

In [32]:
pd.DatetimeIndex(dataset['Date']).year

Int64Index([1984, 1984, 1984, 1984, 1984, 1984, 1984, 1984, 1984, 1984,
            ...
            2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017],
           dtype='int64', name='Date', length=19586)

In [7]:
data=dataset[['Date','Close','Stock']]
data.head()

        Date    Close Stock
0 1984-09-07  0.42388  AAPL
1 1984-09-10  0.42134  AAPL
2 1984-09-11  0.42902  AAPL
3 1984-09-12  0.41618  AAPL
4 1984-09-13  0.43927  AAPL

In [8]:
data.set_index('Date')

                Close Stock
Date
1984-09-07    0.42388  AAPL
1984-09-10    0.42134  AAPL
1984-09-11    0.42902  AAPL
1984-09-12    0.41618  AAPL
1984-09-13    0.43927  AAPL
...               ...   ...
2017-11-06  180.17000    FB
2017-11-07  180.25000    FB
2017-11-08  179.56000    FB
2017-11-09  179.30000    FB
2017-11-10  178.46000    FB

[19586 rows x 2 columns]

In [9]:
companies = data['Stock'].unique()
companies

array(['AAPL', 'TSLA', 'MSFT', 'FB'], dtype=object)

In [10]:
stock ={}
for i in companies:
  stock[i] = data[dataset['Stock'] == i][["Date", "Close"]]
  print(stock[i])

           Date      Close
0    1984-09-07    0.42388
1    1984-09-10    0.42134
2    1984-09-11    0.42902
3    1984-09-12    0.41618
4    1984-09-13    0.43927
...         ...        ...
8359 2017-11-06  173.63000
8360 2017-11-07  174.18000
8361 2017-11-08  175.61000
8362 2017-11-09  175.25000
8363 2017-11-10  174.67000

[8364 rows x 2 columns]
            Date   Close
8364  2010-06-28   17.00
8365  2010-06-29   23.89
8366  2010-06-30   23.83
8367  2010-07-01   21.96
8368  2010-07-02   19.20
...          ...     ...
10217 2017-11-06  302.78
10218 2017-11-07  306.05
10219 2017-11-08  304.31
10220 2017-11-09  302.99
10221 2017-11-10  302.99

[1858 rows x 2 columns]
            Date     Close
10222 1986-03-13   0.07533
10223 1986-03-14   0.07533
10224 1986-03-17   0.07533
10225 1986-03-18   0.07533
10226 1986-03-19   0.07533
...          ...       ...
18200 2017-11-06  84.47000
18201 2017-11-07  84.26000
18202 2017-11-08  84.56000
18203 2017-11-09  84.09000
18204 2017-11-10  83.87000

[7983 rows x 2 columns]
            Date   Close
18205 2012-05-18   38.23
18206 2012-05-21   34.03
18207 2012-05-22   31.00
18208 2012-05-23   32.00
18209 2012-05-24   33.03
...          ...     ...
19581 2017-11-06  180.17
19582 2017-11-07  180.25
19583 2017-11-08  179.56
19584 2017-11-09  179.30
19585 2017-11-10  178.46

[1381 rows x 2 columns]

In [11]:
stock['AAPL'].Close

0         0.42388
1         0.42134
2         0.42902
3         0.41618
4         0.43927
          ...
8359    173.63000
8360    174.18000
8361    175.61000
8362    175.25000
8363    174.67000
Name: Close, Length: 8364, dtype: float64

In [18]:
AAPL_train=stock['AAPL'][pd.DatetimeIndex(stock['AAPL']['Date']).year<2017]

In [17]:
AAPL_test=stock['AAPL'][pd.DatetimeIndex(stock['AAPL']['Date']).year>=2017]

In [16]:
predictions = list()

In [33]:
AAPL_test=AAPL_test['Close'].values
AAPL_train=AAPL_train['Close'].values

In [36]:
history = [x for x in AAPL_train]

In [37]:
for t in range(len(AAPL_test)):
	model = ARIMA(history, order=(5,1,0))
	model_fit = model.fit()
	output = model_fit.forecast()
	yhat = output[0]
	predictions.append(yhat)
	obs = AAPL_test[t]
	history.append(obs)
	print('predicted=%f, expected=%f' % (yhat, obs))

predicted=113.994443, expected=114.310000
predicted=114.335201, expected=114.190000
predicted=114.226411, expected=114.770000
predicted=114.789998, expected=116.040000
predicted=116.092931, expected=117.110000
predicted=117.098488, expected=117.230000
predicted=117.197953, expected=117.860000
predicted=117.852617, expected=117.370000
predicted=117.331538, expected=117.160000
predicted=117.142694, expected=118.100000
predicted=118.151230, expected=118.090000
predicted=118.072692, expected=117.890000
predicted=117.889441, expected=118.100000
predicted=118.132042, expected=118.190000
predicted=118.185716, expected=118.070000
predicted=118.075106, expected=119.950000
predicted=120.012532, expected=120.010000
predicted=119.981987, expected=120.020000
predicted=119.988664, expected=119.700000
predicted=119.714739, expected=119.430000
predicted=119.404178, expected=126.700000
predicted=126.884257, expected=126.500000
predicted=126.346677, expected=127.030000
predicted=126.898383, expected=128.230000
predicted=128.286049, expected=129.440000
predicted=129.312342, expected=129.950000
predicted=129.933516, expected=130.890000
predicted=130.889953, expected=130.600000
predicted=130.566593, expected=131.750000
predicted=131.762109, expected=133.450000
predicted=133.483212, expected=133.940000
predicted=133.894254, expected=133.780000
predicted=133.762229, expected=134.150000
predicted=134.161853, expected=135.120000
predicted=135.131298, expected=135.530000
predicted=135.520665, expected=134.920000
predicted=134.901397, expected=135.080000
predicted=135.106658, expected=135.350000
predicted=135.369185, expected=135.410000
predicted=135.409178, expected=138.180000
predicted=138.263100, expected=137.360000
predicted=137.300280, expected=138.170000
predicted=138.165862, expected=137.730000
predicted=137.754300, expected=137.910000
predicted=137.878786, expected=137.400000
predicted=137.428930, expected=137.080000
predicted=137.082014, expected=137.540000
predicted=137.590636, expected=137.600000
predicted=137.609470, expected=137.390000
predicted=137.398143, expected=138.830000
predicted=138.888446, expected=139.060000
predicted=139.051117, expected=138.360000
predicted=138.328518, expected=139.830000
predicted=139.900083, expected=138.230000
predicted=138.179025, expected=139.790000
predicted=139.832793, expected=139.290000
predicted=139.317677, expected=139.010000
predicted=138.972539, expected=139.250000
predicted=139.317265, expected=142.140000
predicted=142.185953, expected=142.460000
predicted=142.430172, expected=142.270000
predicted=142.228586, expected=142.000000
predicted=142.026111, expected=142.040000
predicted=142.025280, expected=143.100000
predicted=143.136875, expected=142.360000
predicted=142.343309, expected=142.000000
predicted=142.008824, expected=141.680000
predicted=141.719761, expected=141.510000
predicted=141.517175, expected=140.000000
predicted=140.006064, expected=140.170000
predicted=140.225906, expected=139.420000
predicted=139.452283, expected=140.200000
predicted=140.234318, expected=139.570000
predicted=139.599549, expected=139.050000
predicted=139.045770, expected=140.790000
predicted=140.878307, expected=140.630000
predicted=140.605679, expected=141.980000
predicted=141.997196, expected=142.870000
predicted=142.901909, expected=142.020000
predicted=141.954680, expected=142.130000
predicted=142.159577, expected=141.990000
predicted=142.005511, expected=144.890000
predicted=144.944286, expected=145.810000
predicted=145.806192, expected=145.370000
predicted=145.303866, expected=144.840000
predicted=144.859229, expected=147.240000
predicted=147.293607, expected=151.240000
predicted=151.295385, expected=152.210000
predicted=152.124858, expected=151.490000
predicted=151.420535, expected=152.800000
predicted=152.867576, expected=154.930000
predicted=154.969347, expected=154.530000
predicted=154.455748, expected=154.310000
predicted=154.317417, expected=149.120000
predicted=149.045879, expected=151.400000
predicted=151.552559, expected=151.910000
predicted=152.004528, expected=152.840000
predicted=152.748524, expected=152.650000
predicted=152.693670, expected=152.190000
predicted=152.177430, expected=152.720000
predicted=152.772373, expected=152.460000
predicted=152.467237, expected=152.520000
predicted=152.527797, expected=151.610000
predicted=151.624393, expected=152.030000
predicted=152.067680, expected=154.290000
predicted=154.368048, expected=152.780000
predicted=152.702895, expected=153.300000
predicted=153.316171, expected=154.210000
predicted=154.295060, expected=153.830000
predicted=153.783922, expected=147.870000
predicted=147.781687, expected=144.330000
predicted=144.406527, expected=145.500000
predicted=145.761312, expected=144.070000
predicted=144.012777, expected=143.220000
predicted=143.208739, expected=141.200000
predicted=141.248271, expected=145.250000
predicted=145.384697, expected=143.920000
predicted=143.861988, expected=144.780000
predicted=144.715121, expected=144.540000
predicted=144.668196, expected=145.190000
predicted=145.140370, expected=144.730000
predicted=144.762393, expected=142.660000
predicted=142.617134, expected=144.740000
predicted=144.866124, expected=142.610000
predicted=142.582043, expected=142.950000
predicted=142.927833, expected=142.430000
predicted=142.540276, expected=143.020000
predicted=142.987735, expected=141.660000
predicted=141.681972, expected=143.110000
predicted=143.146954, expected=143.970000
predicted=144.025244, expected=144.440000
predicted=144.379332, expected=144.650000
predicted=144.687263, expected=146.660000
predicted=146.701632, expected=147.930000
predicted=147.931839, expected=148.440000
predicted=148.398716, expected=148.950000
predicted=148.984324, expected=149.890000
predicted=149.915687, expected=149.210000
predicted=149.187166, expected=149.140000
predicted=149.154395, expected=150.960000
predicted=151.044452, expected=151.600000
predicted=151.573564, expected=152.310000
predicted=152.295044, expected=149.430000
predicted=149.413388, expected=148.390000
predicted=148.422483, expected=147.620000
predicted=147.721113, expected=148.920000
predicted=148.927753, expected=155.970000
predicted=156.138030, expected=154.400000
predicted=154.207479, expected=155.220000
predicted=155.122675, expected=157.620000
predicted=157.819330, expected=158.880000
predicted=158.779546, expected=159.860000
predicted=159.846957, expected=154.760000
predicted=154.683427, expected=156.920000
predicted=157.065754, expected=159.280000
predicted=159.426931, expected=161.020000
predicted=160.851592, expected=160.370000
predicted=160.325175, expected=157.290000
predicted=157.283149, expected=156.940000
predicted=157.089467, expected=156.650000
predicted=156.753807, expected=159.210000
predicted=159.225583, expected=159.410000
predicted=159.358244, expected=158.700000
predicted=158.617197, expected=159.290000
predicted=159.377376, expected=160.890000
predicted=160.963053, expected=162.330000
predicted=162.306195, expected=162.760000
predicted=162.712678, expected=163.410000
predicted=163.425580, expected=163.460000
predicted=163.493539, expected=161.500000
predicted=161.481307, expected=161.330000
predicted=161.406475, expected=160.680000
predicted=160.755196, expected=158.060000
predicted=158.012529, expected=160.920000
predicted=161.052256, expected=160.280000
predicted=160.285666, expected=159.080000
predicted=158.966195, expected=157.710000
predicted=157.791699, expected=159.310000
predicted=159.423424, expected=158.100000
predicted=158.074796, expected=158.160000
predicted=158.130433, expected=155.510000
predicted=155.551651, expected=152.840000
predicted=152.856310, expected=151.350000
predicted=151.469482, expected=150.010000
predicted=150.051318, expected=152.590000
predicted=152.660961, expected=153.680000
predicted=153.661540, expected=152.730000
predicted=152.596913, expected=153.570000
predicted=153.633418, expected=153.260000
predicted=153.315345, expected=153.920000
predicted=153.922057, expected=152.930000
predicted=152.935675, expected=154.830000
predicted=154.881593, expected=154.740000
predicted=154.756228, expected=155.280000
predicted=155.237922, expected=155.340000
predicted=155.381938, expected=155.990000
predicted=156.010069, expected=155.440000
predicted=155.443866, expected=156.430000
predicted=156.461330, expected=159.310000
predicted=159.387578, expected=159.900000
predicted=159.831652, expected=159.190000
predicted=159.115470, expected=155.420000
predicted=155.424593, expected=155.690000
predicted=155.848491, expected=155.610000
predicted=155.733162, expected=156.540000
predicted=156.494372, expected=155.850000
predicted=155.823126, expected=156.850000
predicted=156.870576, expected=162.470000
predicted=162.615846, expected=166.120000
predicted=166.064301, expected=168.430000
predicted=168.283651, expected=166.290000
predicted=166.194530, expected=167.510000
predicted=167.637087, expected=171.880000
predicted=172.162361, expected=173.630000
predicted=173.543524, expected=174.180000
predicted=174.044083, expected=175.610000
predicted=175.743501, expected=175.250000
predicted=175.319220, expected=174.670000