In [1]:
import math
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
sns.set_theme(style="ticks", palette="pastel")

import tensorflow as tf
from sklearn.metrics import mean_squared_error, mean_absolute_error

import warnings
warnings.filterwarnings('ignore')

## Loading of dataset

In [2]:
path_default = "./data/stock_data.csv"
stock_data = pd.read_csv(path_default)
stock_data['Date'] = pd.to_datetime(stock_data['Date'], format="%Y-%m-%d")
stock_data

,Date,Open,High,Low,Close,Volume,OpenInt,Stock
0,1984-09-07,0.42388,0.42902,0.41874,0.42388,23220030,0,AAPL
1,1984-09-10,0.42388,0.42516,0.41366,0.42134,18022532,0,AAPL
2,1984-09-11,0.42516,0.43668,0.42516,0.42902,42498199,0,AAPL
3,1984-09-12,0.42902,0.43157,0.41618,0.41618,37125801,0,AAPL
4,1984-09-13,0.43927,0.44052,0.43927,0.43927,57822062,0,AAPL
...,...,...,...,...,...,...,...,...
19581,2017-11-06,178.56000,180.45000,178.31000,180.17000,13275578,0,FB
19582,2017-11-07,180.50000,180.74800,179.40300,180.25000,12903836,0,FB
19583,2017-11-08,179.79000,180.35000,179.11000,179.56000,10467606,0,FB
19584,2017-11-09,178.31000,179.40000,177.09000,179.30000,12602188,0,FB
19585,2017-11-10,178.35000,179.10000,177.96000,178.46000,11060355,0,FB

In [3]:
companies = stock_data['Stock'].unique()
print(companies)

['AAPL' 'TSLA' 'MSFT' 'FB']

## Data Proprocessing

In [4]:
stocks ={}
for i in companies:
  stocks[i] = stock_data[stock_data['Stock'] == i][["Date", "Close"]]
  print(stocks[i])

           Date      Close
0    1984-09-07    0.42388
1    1984-09-10    0.42134
2    1984-09-11    0.42902
3    1984-09-12    0.41618
4    1984-09-13    0.43927
...         ...        ...
8359 2017-11-06  173.63000
8360 2017-11-07  174.18000
8361 2017-11-08  175.61000
8362 2017-11-09  175.25000
8363 2017-11-10  174.67000

[8364 rows x 2 columns]
            Date   Close
8364  2010-06-28   17.00
8365  2010-06-29   23.89
8366  2010-06-30   23.83
8367  2010-07-01   21.96
8368  2010-07-02   19.20
...          ...     ...
10217 2017-11-06  302.78
10218 2017-11-07  306.05
10219 2017-11-08  304.31
10220 2017-11-09  302.99
10221 2017-11-10  302.99

[1858 rows x 2 columns]
            Date     Close
10222 1986-03-13   0.07533
10223 1986-03-14   0.07533
10224 1986-03-17   0.07533
10225 1986-03-18   0.07533
10226 1986-03-19   0.07533
...          ...       ...
18200 2017-11-06  84.47000
18201 2017-11-07  84.26000
18202 2017-11-08  84.56000
18203 2017-11-09  84.09000
18204 2017-11-10  83.87000

[7983 rows x 2 columns]
            Date   Close
18205 2012-05-18   38.23
18206 2012-05-21   34.03
18207 2012-05-22   31.00
18208 2012-05-23   32.00
18209 2012-05-24   33.03
...          ...     ...
19581 2017-11-06  180.17
19582 2017-11-07  180.25
19583 2017-11-08  179.56
19584 2017-11-09  179.30
19585 2017-11-10  178.46

[1381 rows x 2 columns]

In [10]:
print(stocks["AAPL"]["Close"].values.reshape((-1,5,1)))

ValueError: cannot reshape array of size 8364 into shape (5,1)